[main]
Description=VPN-Zugang von Auﬂen in die HAW
!Host=vpngate.haw-hamburg.de
!AuthType=1
!GroupName=outside
GroupPwd=
!enc_GroupPwd=16634A112B278A923716CA44DE1D355F187E619B98E48D4FF844B3C2F7E4DBAE43608390542F286CBEAFAACE2A9F2A53E64997CB1AA17C6C
EnableMSLogon=0
MSLogonType=0
UserPassword=
enc_UserPassword=
Username=
SaveUserPassword=0
TunnelingMode=0
TcpTunnelingPort=10000
EnableISPConnect=0
NTDomain=
EnableBackup=0
BackupServer=
EnableNat=0
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
