[main]
Description=Notebookzugang an der HAW
!Host=10.10.0.1
!AuthType=1
!GroupName=inside
!enc_GroupPwd=B3BCCA44ABEE6823BAFA799B53274C056DBA83BE208A444CE2C386467A2E42E8153454F04B7B62BFA4D53E931C980F1C
UserPassword=
enc_UserPassword=
GroupPwd=
EnableISPConnect=0
Username=
SaveUserPassword=0
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=0
MSLogonType=0
EnableNat=0
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
